@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html {
    width: 100%;
    height: 100vh;
    display: block;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
.menu-wrap {
    width: 100%;
    display: flex;
}
.menu {
    padding: 0;
    margin:100px auto;
    list-style-type: none;
    display: flex;
}
.menu-item {
    display: inline-block;
}
.menu-link {
    margin: 0 16px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.25s linear;
}
.menu-link:hover {
    opacity: 0.75;
}
.line {
    position: fixed;
    width: 0;
    height: 2px;
    background-color: rgb(0, 0, 238);
    transition: all 0.25s linear;
}
