* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #000;
}
html {
    font-size: 62.5%;
}
@mixin size($size) {
    width: $size;
    height: $size;
}
.loading {
    @include size(7rem);
    background-color: #fff;
    position: relative;
}