* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: #000;
}
html {
    font-size: 62.5%;
}
@mixin size($size) {
    width: $size;
    height: $size;
}
.loading {
    @include size(7rem);
    position: relative;
    margin: 5rem auto;
    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        transform: rotate(45deg);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            border: 4px solid #fff;
            border-radius: 50%;
        }
    }
}
@for $i from 1 through 8 {
    .loading div:nth-child(#{$i}) {
        transform: rotate(calc($i * 45deg));
    }
}